@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUI.woff") format("woff"),
    url("../fonts/SegoeUI.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


// font-family: 'Bitter', serif;
